.global-nav {
    grid-area: header-nav;

    display: grid;
    grid-template-columns: auto 1fr;
}

.global-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    transform: rotateX(90deg);
    transition: transform 2s ease-out;

    line-height: 1.6;

    list-style: none;
}

.global-nav__list--open {
    display: flex;

    transform: rotateX(0deg);
}

.global-nav__button {
    margin-top: 0.5rem;

    height: 2rem;
    width: 3rem;

    border-radius: 30%;

    cursor: pointer;

    font-size: 1rem;
}

.global-nav__link {
    display: block;

    padding: 0.5rem 0.5rem;

    color: #0811f9;
}

.global-nav__link:hover {
    color: var(--bg-hover-color);
}

@media screen and (min-width: 55rem){
    .global-nav__button {
        display: none;
    }

    .global-nav__list {
        display: flex;

        grid-column: span 2;

        transform: rotateX(0deg);
    }
}