.privacy-content {
    min-width: 360px;
    max-width: 1000px;

    margin: 0 auto;
}

.privacy-content h3 {
    font-size: 1.5rem;
}

@media screen and (min-width: 55rem) {
    .privacy {
        height: 100%;
    }
}