.main {
    grid-area: main;

    line-height: 2.6;
}

.main h2 {
    text-align: center;

    font-weight: 400;
}

.cards {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1rem;

    justify-items: center;
}

.card1 {
    grid-column: span 12;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    max-width: 18rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid black;
    border-radius: 20px;

    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),url("card1.png");
}

.card2 {
    grid-column: span 12;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    max-width: 18rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid black;
    border-radius: 20px;

    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),url("card2.png");
}
.card3 {
    grid-column: span 12;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    max-width: 18rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid black;
    border-radius: 20px;

    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),url("card3.png");
}

.card1__content {
    transition: all 0.5s ease;
    transform: translateY(100%);
}

.card1:hover .card1__content {
    transform: translateY(0);
}


.card2__content {
    transition: all 0.5s ease;
    transform: translateY(100%);
}

.card2:hover .card2__content {
    transform: translateY(0);
}

.card3__content {
    transition: all 0.5s ease;
    transform: translateY(100%);
}

.card3:hover .card3__content {
    transform: translateY(0);
}

.card__text {
    color: #ffffff;
    font-weight: 900;

}

.card__link {
    padding: 0.5rem;

    font: inherit;
    text-decoration: none;
}


@media screen and (min-width: 50rem){
    .card1 {
        grid-column: span 4;
    }

    .card2 {
        grid-column: span 4;
    }

    .card3 {
        grid-column: span 4;
    }
}